<div class="jumbotron text-center">
  <h2>Your affiliate account has been created!</h2>
  <h4 class="text-muted">Thank you! You will receive an email with your affiliate token as soon as your account will be activated.</h4>
</div>
